.App {
  width: auto;
  display: flex; 
  /* Enables Flexbox */
  text-align: center;
  max-width: 1800px;
  min-width: 393px;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.container {
  max-width: 99%;
  margin: 0px;
  padding: 0px;
}

.card-grid-container {
  padding: 30px;
  padding-top: 30px;
}

.my-masonry-grid {
  display: flex;
  /* margin-left: -10px;  */
  margin-bottom: 0px;
  margin: 0px;
  width: auto;
  column-gap: 30px;
}

#cards {
  flex-grow: 1; /* This container will take up the remaining space */
  padding-top: 20px;
  width: 100%;
  margin-left: 10px;
  margin-right: 10px;
}